<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiante | Ingreso</title>
    <link rel="stylesheet" href="../static/css/estudiantes.css">
    <link rel="stylesheet" href="../static/css/rojo.css">
</head>
<body class="container-custom">
    <h1></h1>
    <h3>Selecciona tu foto para comenzar</h3>
    <div class="cards-container" id="fotos"></div>
    <audio autoplay>
        <source src="../static/images/foto.mp3" type="audio/mp3">
    </audio>

    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script>

        // Valida que exista la sesión
        if(localStorage.getItem("est-python") === null) {
            window.location = "/"
        } 
    
        let storage = JSON.parse(localStorage.getItem("est-python"))
        let paralelo = storage.paralelo
    
        if(paralelo === "") {
            window.location = "/"
        }
        
        // Validamos que el estudiante ya haya sido seleccionado
        if(storage.cedula !== "") {
            window.location = "/rojo"
        }

        // Mostramos un mensaje de bienvenida con el paralelo
        $("h1").html("Bienvenidos al paralelo " + paralelo)

        // Hacemos una petición al servidor para que nos traiga los datos de los estudiantes de ese paralelo

        $.post("/getParalelo", {paralelo}, function(respuesta){
            // Parseamos los datos a formato json
            let result = JSON.parse(respuesta)
            // Recorremos los datos mientras creamos las imagenes
            result.forEach(std => {
                let card = `<img src="../static/fotos/foto_${std.Id_Estudiante}.jpg" alt="${std.Id_Estudiante}" class="custom-card">`
                $("#fotos").append(card)
            });
        })

        // Detecta que imagen selecciona el niño y guarda su cedula
        $("#fotos").on("click",function(e) {
            if(e.target.classList.contains("custom-card")) {
                let cedula = e.target.getAttribute("alt")
                let storage = JSON.parse(localStorage.getItem("est-python"))
                storage.cedula = cedula
                localStorage.setItem("est-python", JSON.stringify(storage))
                window.location = "/rojo"
                
            }
        })



    
     
    </script>
</body>
</html>