<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/rojo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Test | Colores</title>
</head>
<body class="container-custom">
    <audio controls autoplay>
        <source src="../static/images/examen.mp3" alt="" type="audio/mp3">
    </audio>
    
    <div class="vidas">
        <img class="item" src="../static/images/objetos/corazon.png" alt="">
        <img class="item" src="../static/images/objetos/corazon.png" alt="">
        <img class="item" src="../static/images/objetos/corazon.png" alt="">
    </div>
    <h1 class="mb-5">Test de los colores</h1>
    <div class="row-custom" id="row">
        <img class="col-3" data-obj= "pollito" data-value="amarillo" src="../static/images/objetos/pollito.jpg" alt="">
        <img class="col-3" data-obj= "cielo" data-value="azul" src="../static/images/objetos/cielo.jpg" alt="">
        <img class="col-3"data-obj= "tomate"  data-value="rojo" src="../static/images/objetos/tomate.jpg" alt="">
        <img class="col-3" data-obj= "mar" data-value="azul" src="../static/images/objetos/mar.jpg" alt="">
        <img class="col-3" data-obj= "sol" data-value="amarillo" src="../static/images/objetos/sol.jpg" alt="">
        <img class="col-3" data-obj= "manzana" data-value="rojo" src="../static/images/objetos/manzana.jpg" alt="">
        <img class="col-3" data-obj= "mariposa" data-value="azul" src="../static/images/objetos/mariposa.jpg" alt="">
        <img class="col-3" data-obj= "banano" data-value="amarillo" src="../static/images/objetos/banano.jpg" alt="">
    </div>

    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

    <script>
        if(JSON.parse(localStorage.getItem("est-python")) === null) {
            window.location = "/"
        }

        let st = JSON.parse(localStorage.getItem("est-python"))
        let vidas = st.vidas
        let contenedor = document.querySelector('.vidas')
        contenedor.innerHTML = ""

       for(let i = 0; i < vidas; i++){
        let img = `<img class="item" src="../static/images/objetos/corazon.png" alt="">`
        contenedor.innerHTML += img

       }

        let tiempo = 0

        setInterval(()=>{
            tiempo++
        }, 1000)

        let respuestas = []
        let objetos = []
        let objStars = {
            cedula: "",
            stars: 0
        }

        $("#row").on("click", function(e){
            let data = JSON.parse(localStorage.getItem("est-python"))
            if(data.vidas === 0) {
                Swal.fire(
                    'Oops!',
                    'Ya no tienes vidas!',
                    'warning'
                )
                return
            }

            if(e.target.classList.contains("col-3")) {
                let color = e.target.dataset.value
                let obj = e.target.dataset.obj
                if(objetos.filter(item => item === obj).length === 0) {
                    objetos.push(obj)
                    respuestas.push(color)
                } 

                if(respuestas.length === 4) {
                    let rojas = respuestas.filter(res => res === "rojo").length
                    let amarillas = respuestas.filter(res => res === "amarillo").length
                    let azules = respuestas.filter(res => res === "azul").length

                    if(rojas == 2 && amarillas === 1 && azules === 1) {
                        Swal.fire(
                            'Felicidades!',
                            'Has ganado!',
                            'success'
                        )
                        .then(ok => {
                            let resuelto = true
                            let data = JSON.parse(localStorage.getItem("est-python"))
                            $.post("saveData", {...data, tiempo, resuelto}, function(response){
                                if(response.result) {
                                    objStars.cedula = data.cedula
                                    let stars = JSON.stringify(objStars)
                                    localStorage.removeItem("est-python")
                                    localStorage.setItem("stars", stars)
                                    window.location = "/stars"
                                }
                            })

                        })
                    } else {
                        let heart = document.querySelectorAll(".item")[0]
                        document.querySelector(".vidas").removeChild(heart)
                        data.vidas--
                        localStorage.setItem("est-python", JSON.stringify(data))
                        if(data.vidas > 0) {
                            Swal.fire(
                                'Oops!',
                                `Sigue intentando, aun tienes ${data.vidas} vidas!`,
                                'warning'
                            )
                            .then(ok => {
                                objetos = []
                                respuestas = []
                            })
                        } else {
                            Swal.fire(
                                'Lo siento!',
                                `Ya no tienes más vidas!`,
                                'warning'
                            )
                            .then(ok => {
                                let resuelto = false
                                let data = JSON.parse(localStorage.getItem("est-python"))
                                $.post("saveData", {...data, tiempo, resuelto}, function(response){
                                    console.log(response)
                                    if(response.result) {
                                        objStars.cedula = data.cedula
                                        let stars = JSON.stringify(objStars)
                                        localStorage.removeItem("est-python")
                                        localStorage.setItem("stars", stars)
                                        window.location = "/stars"
                                    }
                                })
                            })
                        }

                    }

                }
                
            }

        })
    </script>
</body>
</html>

</body>
</html>
